.DS_Store    # Para macOS
Thumbs.db    # Para Windows
.env
config/*.secret
*.exe
*.o
*.log
*.iml
node_modules/
.vscode/
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx
local.properties
barralibre_03.code-workspace
